script(src="/javascripts/lightgallery.js")
script(src="/javascripts/lg-thumbnail.js")
script(src="/javascripts/lg-zoom.js")
script(src="/javascripts/lg-pager.js")
script(src="/javascripts/lg-fullscreen.js")
script(src="https://cdn.plyr.io/3.5.6/plyr.polyfilled.js")
script(src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js")
script(src='/javascripts/app.js')
link(rel='stylesheet', href='/stylesheets/lightgallery.css') 
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css")