extends layout-search

block content
  div#header
    h1 CHEAT
    h1 STEI ITB 2019
  img#logo(src="img/logoregis-small-white.png")
  #search-form
    p Search with your face
    form(action="/search" enctype="multipart/form-data" method="post")
      input(type="file" name="ref")
      input(type="submit" value="Upload")
  p This may take a while.. Searching your face
  div.meter.animate
    span(style="width: 0%")
      span
  div.gallery-stei
    ul#lightgallery
  img#reference(src=reference data=refData)
  img#searching(src="" data=results style="width:100px;")
  