extends layout-search

block content
  div#header
    h1 CHEAT
    h1 STEI ITB 2019
  img#logo(src="img/logoregis-small-white.png")
  #search-form
    form(action="/search" enctype="multipart/form-data" method="post")
      input(type="file" name="ref")
      input(type="submit" value="Upload")
  div.gallery-stei
    ul#lightgallery
  p This may take a while
  img#reference(src=reference data=refData)
  img#searching(src="/images/2.JPG" data=results)
  