#search-form
    p Search with your face
    p.note (Wi-Fi recommended)
    form(action="/search" enctype="multipart/form-data" method="post")
      input(type="file" name="ref")
      input(type="submit" value="Upload")