extends layout

block content
  div#header
    h1 CHEAT
    h1 STEI ITB 2019
  img#logo(src="../img/logoregis-small-white.png")
  #search-form
    p Search with your face
    form(action="/search" enctype="multipart/form-data" method="post")
      input(type="file" name="ref")
      input(type="submit" value="Upload")
  p Search result for :
    img(src=`../refImages/${refname}`)
  if !images.length
    p Sorry! We have no result for you
  div.gallery-stei
    ul#lightgallery
      each image in images
        li(data-src=`../thumb/${image}/25` full=`../images/${image}`)
          a(href)
            img.placeholder(data-src=`../thumb/${image}/5` src=`../img/placeholder.jpg`)
