@font-face {
  font-family: 'Microgamma';
  src: url('/fonts/microgamma.otf');
}

body {
  background-image: url("/img/background.png");
  background-position: center center;
  font: 20px Microgamma, sans-serif;
}

h1 {
  color: white;
  margin: 5px;
  text-align: center;
}

#logo {
  display: block;
  margin: 0 auto;
}

.gallery-stei>ul {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
}

.gallery-stei>ul>li {
  height: 100%;
  list-style: outside none none;
}

.gallery-stei>ul>li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  height: 100%;
  overflow: hidden;
  float: left;
}

.gallery-stei>ul>li a:hover {
  border: 3px solid skyblue;
}

.gallery-stei>ul>li a>img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.gallery-stei>ul>li a:hover>img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.lg-download {
  width: 85px !important;
}

.lg-icon>span {
  font-size: 14px;
}

#reference {
  display: none;
}

#searching {
  display: none;
}